# Numpty 변환 (sorting, 참조, copy)

In [1]:
import numpy as np

def np_print(nparr):
    print('''
    type : {}
    shape : {}
    dimension : {}
    dtype : {}
    data :\n {}
    '''.format(type(nparr), nparr.shape, nparr.ndim, nparr.dtype, nparr))

## 1. 배열 정렬
- sort(axis = -1) 메서드 : axis를 기준으로 요소를 오름차순 정렬
    - 기본값(axis = -1) : 현재 배열의 마지막 axis
    - axis = 0 : 열 단위 정렬
    - axis = 1 : 행 단위 정렬
    - 원본 객체에 정렬 결과가 반영됨
- np.sort(axis = -1) : axis를 기준으로 요소를 오름차순 정렬
    - 기본값(axis = -1) : 현재 배열의 마지막 axis
    - axis = 0 : 열 단위 정렬
    - axis = 1 : 행 단위 정렬
    - 정렬된 새로운 배열을 반환함
- np.argsort(arr) : 정렬 순서를 반환
    - 기본값(axis = -1) : 현재 배열의 마지막 axis
    - axis = 0 : 열 단위 정렬
    - axis = 1 : 행 단위 정렬

- 1차원 배열 생성

In [2]:
ndarr_1d = np.arange(0, 5)

np_print(ndarr_1d)

    type : <class 'numpy.ndarray'>
    shape : (5,)
    dimension : 1
    dtype : int32
    data :
 [0 1 2 3 4]

- reverse

In [3]:
ndarr_1d[::-1]

array([4, 3, 2, 1, 0])

<br>

- 난수 패턴 고정

In [17]:
np.random.seed(20)

In [18]:
ndarr_a = np.random.randint(0, 10, size=(5))

np_print(ndarr_a)

    type : <class 'numpy.ndarray'>
    shape : (5,)
    dimension : 1
    dtype : int32
    data :
 [3 9 4 6 7]

### 1.1. `np.sort(ndarr, axis=-1)`
- sort(axis = -1) 메서드 : axis를 기준으로 요소를 오름차순 정렬
    - 기본값(axis = -1) : 현재 배열의 마지막 axis
    - axis = 0 : 열 단위 정렬
    - axis = 1 : 행 단위 정렬
    - 원본 객체에 정렬 결과가 반영됨

<br>

`np.sort(data)` > 원본 반영 X

In [10]:
np_print(np.sort(ndarr_a))

np_print(ndarr_a)

    type : <class 'numpy.ndarray'>
    shape : (5,)
    dimension : 1
    dtype : int32
    data :
 [3 4 6 7 9]


    type : <class 'numpy.ndarray'>
    shape : (5,)
    dimension : 1
    dtype : int32
    data :
 [3 9 4 6 7]

<br>

### 1.2. `ndarr.sort()` > 원본 자료 변경

In [13]:
ndarr_a.sort()

np_print(ndarr_a)

    type : <class 'numpy.ndarray'>
    shape : (5,)
    dimension : 1
    dtype : int32
    data :
 [3 4 6 7 9]

<br>

### 1.3. `np.argsort(ndarr)`

- 내부의 item들을 오름차순 정렬하기 위해서 > 현재 배열에서 가져와야 하는 data index 배열로 보여줌

In [19]:
ndarr_b = np.random.randint(0, 10, size=(5))

np_print(ndarr_b)

    type : <class 'numpy.ndarray'>
    shape : (5,)
    dimension : 1
    dtype : int32
    data :
 [2 0 6 8 5]

In [21]:
np.argsort(ndarr_b)

    type : <class 'numpy.ndarray'>
    shape : (5,)
    dimension : 1
    dtype : int32
    data :
 [2 0 6 8 5]

<br>

- 0이상 1미만, 무작위 실수값, 3 * 3 배열 2개 생성

In [22]:
ndarr_x = np.random.random(size=(3, 3))
ndarr_y = np.random.random(size=(3, 3))

np_print(ndarr_x)
np_print(ndarr_y)

    type : <class 'numpy.ndarray'>
    shape : (3, 3)
    dimension : 2
    dtype : float64
    data :
 [[0.65795147 0.19385022 0.2723164 ]
 [0.71860593 0.78300361 0.85032764]
 [0.77524489 0.03666431 0.11669374]]


    type : <class 'numpy.ndarray'>
    shape : (3, 3)
    dimension : 2
    dtype : float64
    data :
 [[0.7512807  0.23921822 0.25480601]
 [0.85762553 0.94977903 0.56168686]
 [0.17878052 0.77025193 0.49238104]]

### 1.4. 행단위, 열단위 정렬

- 2차원 배열의 경우

기본값 axis = -1 

현재 배열의 axis = 0, 1 

마지막 axis = 1 (열별 정렬)

<img src='img/sortaxis1.jpg' width='200' height='200' align='left'>

1. 기본 방향`axis=-1` > row, 행별 정렬

In [31]:
np_print(ndarr_x)

np_print(np.sort(ndarr_x))

    type : <class 'numpy.ndarray'>
    shape : (3, 3)
    dimension : 2
    dtype : float64
    data :
 [[0.65795147 0.19385022 0.2723164 ]
 [0.71860593 0.78300361 0.85032764]
 [0.77524489 0.03666431 0.11669374]]


    type : <class 'numpy.ndarray'>
    shape : (3, 3)
    dimension : 2
    dtype : float64
    data :
 [[0.19385022 0.2723164  0.65795147]
 [0.71860593 0.78300361 0.85032764]
 [0.03666431 0.11669374 0.77524489]]

2. `axis = 0` > column, 열별 정렬

<img src='img/sortaxis0.jpg' width='200' height='200' align='left'>`

In [32]:
np_print(ndarr_x)

np_print(np.sort(ndarr_x, axis=0))

    type : <class 'numpy.ndarray'>
    shape : (3, 3)
    dimension : 2
    dtype : float64
    data :
 [[0.65795147 0.19385022 0.2723164 ]
 [0.71860593 0.78300361 0.85032764]
 [0.77524489 0.03666431 0.11669374]]


    type : <class 'numpy.ndarray'>
    shape : (3, 3)
    dimension : 2
    dtype : float64
    data :
 [[0.65795147 0.03666431 0.11669374]
 [0.71860593 0.19385022 0.2723164 ]
 [0.77524489 0.78300361 0.85032764]]

## 2. 인덱싱(Indexing), 슬라이싱(Slicing)

<br>

### 2.1. 인덱싱(Indexing) : 하나의 요소에 대해 참조

- 각 차원에 따라 배열이 참조하는 인덱스의 개수가 다름

    - 1차원 배열 : 인덱스 1개
    
    - 2차원 배열 : 인덱스 2개
    
    - 3차원 배열 : 인덱스 3개

- 인덱싱으로 참조한 요소에 대해 수정 가능

- 인덱스 배열을 전달하여 여러 개의 요소 참조

<br>

- 0 ~ 23, 정수 data

In [33]:
ndarr_i = np.arange(0, 24)

np_print(ndarr_i)

    type : <class 'numpy.ndarray'>
    shape : (24,)
    dimension : 1
    dtype : int32
    data :
 [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

<br>

- 1차원 배열 인덱싱 > index 1 item 접근

In [35]:
ndarr_i[1]

1

<br>

- 1차원 배열 인덱싱 > last index item 접근

In [36]:
ndarr_i[-1]

23

<br>

- 1차원 배열 인덱싱 > item value 수정

In [37]:
ndarr_i[-1] = 100

print(ndarr_i)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22 100]

<br>

- 배열 `ndarr_i` > 4 X 6 형태의 2차원 배열 만들기

In [42]:
ndarr_2d = ndarr_i.reshape(4, 6)

np_print(ndarr_2d)

    type : <class 'numpy.ndarray'>
    shape : (4, 6)
    dimension : 2
    dtype : int32
    data :
 [[  0   1   2   3   4   5]
 [  6   7   8   9  10  11]
 [ 12  13  14  15  16  17]
 [ 18  19  20  21  22 100]]

<br>

- 2차원 배열 indexing > (2차원 배열)[행 index][열 index]

<br>

- 하나의 행에 접근 > 첫 번째 행 index == 0

In [43]:
ndarr_2d[0]

array([0, 1, 2, 3, 4, 5])

In [44]:
ndarr_2d[0][2]

2

<br>

- 하나의 열에 접근 > 모든 행에 대해서 하나의 열에 접근 > `ndarr[:, index n]`   
: 모든 행에 대해(첫 번째 parameter == `:`), index n에 접근 > return `ndim=1` `ndarray`

In [50]:
np_print(ndarr_2d[:, 1])

    type : <class 'numpy.ndarray'>
    shape : (4,)
    dimension : 1
    dtype : int32
    data :
 [ 1  7 13 19]

<br>

- 2차원 배열 하나의 값에 접근: `ndarr[row index][column index]` ==  `ndarr[row index, column index]`

In [49]:
print(ndarr_2d[2][2])

print(ndarr_2d[2, 2])

14
14

<br>

- 2차원 배열 여러개의 행 조회

In [54]:
ndarr_2d[[0, 3]]

array([[  0,   1,   2,   3,   4,   5],
       [ 18,  19,  20,  21,  22, 100]])

<br>

- 2차원 배열 여러개의 열 조회

In [53]:
ndarr_2d[:, [0, 2]]

array([[ 0,  2],
       [ 6,  8],
       [12, 14],
       [18, 20]])

<br>

- 0번, 2번 row > 3번, 5번 col 조회

In [58]:
print(ndarr_2d[[0, 2], :][:, [3, 5]])

[[ 3  5]
 [15 17]]

<br>

- 2차원 배열 indexing을 통한 value 수정

- 하나의 row/column에 대해 모두 동일한 value로 수정 > 전달하는 value를 scalar value로 전달

- 서로 다른 값으로 수정 > 배열 shape에 맞춰서 data 전달

<br>

- 하나의 값(scalar value)로 수정

In [61]:
ndarr_2d[2] = 9

np_print(ndarr_2d)

    type : <class 'numpy.ndarray'>
    shape : (4, 6)
    dimension : 2
    dtype : int32
    data :
 [[  0   1   2   3   4   5]
 [  6   7   8   9  10  11]
 [  9   9   9   9   9   9]
 [ 18  19  20  21  22 100]]

<br>

- 3차원 배열 생성

- shape == `(page(면, 층), row, column)`

<br>

- `size=(2, 4, 3)` 배열

In [75]:
ndarr_24 = np.arange(24)

ndarr_3d = ndarr_24.reshape(2, 4, 3)

np_print(ndarr_3d)

    type : <class 'numpy.ndarray'>
    shape : (2, 4, 3)
    dimension : 3
    dtype : int32
    data :
 [[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]
  [ 9 10 11]]

 [[12 13 14]
  [15 16 17]
  [18 19 20]
  [21 22 23]]]

<br>

- 3차원 배열 인덱싱: `ndarr[면, 행, 열]`
    
<br>

- index 0 면(page)에 접근

In [65]:
ndarr_3d[0]

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

<br>

- 0번 면, 1번 행 접근

In [67]:
ndarr_3d[0,1]

array([3, 4, 5])

<br>

- 0번 면, 1번 행, 0번 열 접근

In [68]:
ndarr_3d[0][1][0]

3

<br>

- 3차원 배열도 배열 인덱싱으로 value 수정 가능

<br>

- 스칼라 연산을 통한 single value로 수정

- `ndarr_3d`의 1번 면 > value == 0으로 일괄 변경

In [76]:
ndarr_3d[1][:][:] = 0

np_print(ndarr_3d)

    type : <class 'numpy.ndarray'>
    shape : (2, 4, 3)
    dimension : 3
    dtype : int32
    data :
 [[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]
  [ 9 10 11]]

 [[ 0  0  0]
  [ 0  0  0]
  [ 0  0  0]
  [ 0  0  0]]]

<br>

- 하나의 면에 대해 서로 다른 값으로 수정

- 1번 면, 1번 행 > `[1, 2, 3]` 수정

In [80]:
#ndarr_3d[1][1][:] = [1, 2, 3]
ndarr_3d[1, 1] = [1, 2, 3]

np_print(ndarr_3d)

    type : <class 'numpy.ndarray'>
    shape : (2, 4, 3)
    dimension : 3
    dtype : int32
    data :
 [[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]
  [ 9 10 11]]

 [[ 0  0  0]
  [ 1  2  3]
  [ 0  0  0]
  [ 0  0  0]]]

<br>

- 3 X 4 배열 대입

In [82]:
ndarr_3d[1] = [[10, 20, 30],
           [40, 50, 60],
           [70, 80, 90],
           [100, 110, 120]
        ]

np_print(ndarr_3d)

    type : <class 'numpy.ndarray'>
    shape : (2, 4, 3)
    dimension : 3
    dtype : int32
    data :
 [[[  0   1   2]
  [  3   4   5]
  [  6   7   8]
  [  9  10  11]]

 [[ 10  20  30]
  [ 40  50  60]
  [ 70  80  90]
  [100 110 120]]]

<br>

- 인덱스 배열을 전달하여 여러개의 요소 참조

- 기존 indexing 방법: `[page, row, col]`

<br>

- 여러 개의 indexing을 배열로 전달

<br>

- 배열 `[(0행, 0열), (1행, 1열), (2행, 2열)]` 추출

- 3차원 배열 > `[page, [[0, 1, 2], [0, 1, 2]]`

In [83]:
ndarr_3d[0][[0, 1, 2], [0, 1, 2]]

array([0, 4, 8])

<br>

- `ndarr_3d[면, 행, 열]` > 만약 여러 단위를 조회시 이중리스트로 입력

- 삼중리스트 입력시 > 이중리스트 요소를 반복

In [84]:
np_print(ndarr_3d[0, [[0, 1, 2], [0, 2, 3]]])

np_print(ndarr_3d[0:, [0, 1, 2]])

    type : <class 'numpy.ndarray'>
    shape : (2, 3, 3)
    dimension : 3
    dtype : int32
    data :
 [[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 0  1  2]
  [ 6  7  8]
  [ 9 10 11]]]


    type : <class 'numpy.ndarray'>
    shape : (2, 3, 3)
    dimension : 3
    dtype : int32
    data :
 [[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[10 20 30]
  [40 50 60]
  [70 80 90]]]

<br>

### 2.2 슬라이싱 : 여러 개의 요소에 대해 참조

- axis 별로 범위 지정
    
    - from_index : 시작 인덱스(포함), 0일 경우 생략 가능
    
    - to_index : 종료 인덱스(미포함), 마지막 인덱스일 경우 생략 가능
    
    - step : 연속되지 않은 범위의 경우 간격 지정

- 열만 조회하는 경우 : 전체 행에 슬라이싱으로 접근 후 특정 열을 조회

<br>

- 0부터  23까지 1씩 증가하는 정수 data를 가지는 1차원 배열 생성

In [85]:
ndarr_1d = np.arange(0, 24)

np_print(ndarr_1d)

    type : <class 'numpy.ndarray'>
    shape : (24,)
    dimension : 1
    dtype : int32
    data :
 [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

<br>

- 1차원 배열 slicing

- 1번부터 4번까지 접근

In [86]:
ndarr_1d[1:5]

array([1, 2, 3, 4])

<br>

- index 1부터 index 14까지 step 2로 접근

In [88]:
ndarr_1d[1:15:2]

array([ 1,  3,  5,  7,  9, 11, 13])

<br>

- 6 X 4, 2차원 배열 생성

In [89]:
ndarr_2d = ndarr_1d.reshape(6, 4)

np_print(ndarr_2d)

    type : <class 'numpy.ndarray'>
    shape : (6, 4)
    dimension : 2
    dtype : int32
    data :
 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]]

<br>

- 2차원 배열 slicing > `ndarr[row(:col:step)]`

In [90]:
ndarr_2d[0:4]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

<br>

- 1행부터 4행, 2열부터 3열 접근

In [92]:
ndarr_2d[1:5, 2:4]

array([[ 6,  7],
       [10, 11],
       [14, 15],
       [18, 19]])

<br>

- 2차원 배열 slicing을 통한 value 수정

In [93]:
new_ndarr = ndarr_2d[1:5, 2:4]

np_print(new_ndarr)

    type : <class 'numpy.ndarray'>
    shape : (4, 2)
    dimension : 2
    dtype : int32
    data :
 [[ 6  7]
 [10 11]
 [14 15]
 [18 19]]

<br>

- 0번 행, 마지막 열 제외 모든 item을 99로 수정

In [95]:
new_ndarr[1:,:-1] = 99

np_print(new_ndarr)

    type : <class 'numpy.ndarray'>
    shape : (4, 2)
    dimension : 2
    dtype : int32
    data :
 [[ 6  7]
 [99 11]
 [99 15]
 [99 19]]

<br>

- 슬라이싱 > shallow copy 취급

In [96]:
sliced_ndarr = new_ndarr

sliced_ndarr[::] = 1

np_print(sliced_ndarr)

np_print(new_ndarr)

    type : <class 'numpy.ndarray'>
    shape : (4, 2)
    dimension : 2
    dtype : int32
    data :
 [[1 1]
 [1 1]
 [1 1]
 [1 1]]


    type : <class 'numpy.ndarray'>
    shape : (4, 2)
    dimension : 2
    dtype : int32
    data :
 [[1 1]
 [1 1]
 [1 1]
 [1 1]]

<br>

- 2차원 배열 slicing: 연속되지 않은 범위의 열에 대한 인덱싱
    
1. 전체 행에 대해서 접근

2. 여러 개의 열 indexing 배열 전달

<br>

- `ndarr_2d`의 전체 행 + 1, 3번째 열 > `ndarr_2d[row, column]

In [100]:
ndarr_2d = np.arange(24).reshape(4, 6)

np_print(ndarr_2d)

np_print(ndarr_2d[:, [1, 3]])

    type : <class 'numpy.ndarray'>
    shape : (4, 6)
    dimension : 2
    dtype : int32
    data :
 [[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]


    type : <class 'numpy.ndarray'>
    shape : (4, 2)
    dimension : 2
    dtype : int32
    data :
 [[ 1  3]
 [ 7  9]
 [13 15]
 [19 21]]

- **연습문제**

아래 정보는 학생들의 학번, 영어 성적, 국어 성적, 수학 성적 정보 입니다.

해당 정보를 첫번째 행(row)에 학번, 두번째 행에 영어 성적, 세번째 행에 국어 성적, 네번째 행에 수학 성적을 저장한 배열로 만들고

학생별로 영어 성적을 오름차순 기준으로 각 열(column)을 정렬하세요.

<img src='img/sort_q1.png' align='left'>

In [122]:
data = [[1, 2, 3, 4],
       [70, 97, 45, 56],
       [87, 84, 33, 67],
       [46, 80, 75, 78]]

score_ndarr = np.array(data)

In [123]:
order_ndarr = np.argsort(score_ndarr[1, :], axis=0)

np_print(order_ndarr)

    type : <class 'numpy.ndarray'>
    shape : (4,)
    dimension : 1
    dtype : int64
    data :
 [2 3 0 1]

In [126]:
"""
tmp_ndarr = np.arange(0, 16).reshape(4, 4)
i = 0

for order in order_ndarr:
    tmp_ndarr[:,i] = score_ndarr[:, order]
    i += 1
    
score_ndarr = tmp_ndarr.copy()
"""
score_ndarr[:, order_ndarr]

np_print(score_ndarr)

    type : <class 'numpy.ndarray'>
    shape : (4, 4)
    dimension : 2
    dtype : int32
    data :
 [[ 3  4  1  2]
 [45 56 70 97]
 [33 67 87 84]
 [75 78 46 80]]

### 2.3. 조건 색인(boolean indexing)

- 배열의 item에 대해 조건을 적용 > True or False return

- return True인 item, 조건을 만족하는 item만 조회 가능

<br>

- scarla 연산 > 10보다 큰 요소 조회

In [195]:
bool_ndarr = ndarr_2d.reshape(6, 4)

np_print(bool_ndarr)

    type : <class 'numpy.ndarray'>
    shape : (6, 4)
    dimension : 2
    dtype : int32
    data :
 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]]

In [135]:
bool_ndarr > 10

array([[False, False, False, False],
       [False, False, False, False],
       [False, False, False,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True]])

<br>

- boolean indexing: `data[data를 포함한 조건식]`

In [136]:
bool_ndarr[bool_ndarr > 10]

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23])

In [137]:
bool_ndarr[bool_ndarr > 10].size

13

<br>

- boolean indexing > `bool_ndarr`에서 짝수인 자료만 남기기

- 2개 이상의 조건 > 각 조건 ( ) bracket 걸고, and = &, or = |로 연결

In [151]:
bool_ndarr[(bool_ndarr % 2 == 0) & (bool_ndarr != 0)]

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22])

In [246]:
import numpy as np

bool_ndarr = np.arange(24).reshape(6, 4)

for i in range(6):
    for j in range(4):
        print("%s, %s" %(bool_ndarr[i][j], id(bool_ndarr[i][j])))
          
print("-----------------------------------------------")            
            
for row in bool_ndarr:
    for item in row:
        print("%s, %s" %(item, id(item)))
        TorF = item in bool_ndarr[bool_ndarr % 2 == 0]
        
        if TorF == True:
            pass
        
        if TorF == False:
            item = 0
            
        
np_print(bool_ndarr)

0, 1847702808432
1, 1847702808592
2, 1847702807984
3, 1847702808592
4, 1847702807984
5, 1847702808592
6, 1847702807984
7, 1847702808304
8, 1847702808592
9, 1847702808304
10, 1847702808592
11, 1847702808304
12, 1847702808592
13, 1847702808304
14, 1847702808592
15, 1847702808304
16, 1847702808592
17, 1847702808304
18, 1847702808592
19, 1847702808304
20, 1847702808592
21, 1847702808304
22, 1847702808592
23, 1847702808304
-----------------------------------------------
0, 1847702808464
1, 1847702807760
2, 1847702807760
3, 1847702808464
4, 1847702808464
5, 1847702807760
6, 1847702807760
7, 1847702808464
8, 1847702808464
9, 1847702807760
10, 1847702807760
11, 1847702808464
12, 1847702808464
13, 1847702807760
14, 1847702807760
15, 1847702808464
16, 1847702808464
17, 1847702807760
18, 1847702807760
19, 1847702808464
20, 1847702808464
21, 1847702807760
22, 1847702807760
23, 1847702808464

    type : <class 'numpy.ndarray'>
    shape : (6, 4)
    dimension : 2
    dtype : int32
    data :
 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]]

\> **연습문제**

조건색인을 활용해 공무원시험의 합격자 평균을 구해주세요.

합격점수는 60점 이상입니다.

아래는 시험 점수 결과입니다.

`[31, 30, 55, 34, 83, 75, 86, 60, 94, 80, 42, 37, 73, 80, 30, 65, 34, 55, 56, 51]`

In [211]:
score_arr = np.array([31, 30, 55, 34, 83, 75, 86, 60, 94, 80, 42, 37, 73, 80, 30, 65, 34, 55, 56, 51])

In [214]:
total_sco = 0
n_pass = 0
ave_sco = 0

pass_arr = score_arr[score_arr >= 60]

for score in pass_arr: 
    total_sco += score
    n_pass += 1
        
ave_sco = total_sco / n_pass
print(ave_sco)

77.33333333333333

<br>

## 3. 배열 복사

- indexing, slicing된 배열 > 원본 배열과 종속적인 object (shallow copy)

- `ndarr[:]`, `ndarr.copy()` , `np.copy(ndarr)` > 원본 배열과 독립적인 배열 object 생성 (deep copy)

In [215]:
ndarr_a1 = [1, 2, 3]
ndarr_a2 = [1, 2, 3]

<br>

- shallow copy

In [217]:
b = ndarr_a1

<br>

- deep copy(1) : slicing`[:]`

In [219]:
c = ndarr_a2[:]

In [221]:
b[0] = 10
c[0] = 10

print(ndarr_a1, "\n", ndarr_a2)

[10, 2, 3]
 [1, 2, 3]

<br>

- 0부터 3까지 step = 1, 2 X 2 배열 생성

In [222]:
ndarr_i = np.arange(0, 4).reshape(2, 2)

print(ndarr_i)

[[0 1]
 [2 3]]

<br>

- deep copy(2): `ndarr.copy()`

In [224]:
ndarr_3 = ndarr_i.copy()

ndarr_3[0][0] = 10

print(ndarr_3)
print(ndarr_i)

[[10  1]
 [ 2  3]]
[[0 1]
 [2 3]]

<br>

## 4. 배열 변환

### 4.1. 전치(Transpose)

- 배열의 행/열 인덱스가 바뀌는 변환

- `ndarr.T` > 행/열 인덱스가 바뀐 새로운 배열 return, 원본 영향 X

<img src='img/transpose.png' width='200' height='200' align='left'>

<br>

- 1이상 12이하, 3 X 4 shape 배열 생성

In [227]:
ndarr_m = np.arange(1, 13).reshape(3, 4)

ndarr_m

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [228]:
ndarr_m.T

array([[ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11],
       [ 4,  8, 12]])

In [229]:
ndarr_m

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

<br>

### 4.2. 배열 형태 변경

- `ndarr.ravel()`, `np.ravel(ndarr)`

    - 다차원 배열을 1차원 배열로 변환
    
    - `np.ravel(ndarr)` : 1차원으로 변환되는 결과는 원본 배열에 반영되지 않음
        
    - `ndarr.ravel()` : 1차원으로 변환하는 배열의 요소가 변경되면 원본 배열에도 반영됨
        
- `ndarr.reshape(new_shape)`, `np.reshape(ndarr, new_shape)`

    - 원본 배열 객체의 구조(shape)를 변경
    
    - 변경하려는 구조의 전체 요소 개수와 원본 배열의 전체 요소 개수가 동일해야 함
    
    - 변경하려는 구조의 튜플 중 하나의 원소는 -1로 대체할 수 있고 다른 하나의 원소를 기준으로 계산되어 사용됨
    
    - `reshape()` 메서드가 반환하는 배열의 요소가 변경되면 원본 배열에도 반영됨

<br>

- 다차원 배열을 1차원 배열로 전환

In [231]:
ndarr_ra = ndarr_m.ravel()

In [232]:
ndarr_m

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [233]:
ndarr_ra

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

<br>

- `ndarr.ravel()` 전환 후 값 수정하면 > 원본도 수정: shallow copy

In [238]:
ndarr_ra[3] = 40

print(ndarr_m)
print(ndarr_ra)

[[ 1  2  3 40]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[ 1  2  3 40  5  6  7  8  9 10 11 12]

<br>

- `ndarr_m` > 6 X 2

- 하나의 축`shape item`에 `-1` 사용시 > 나머지 축 자동 계산

In [240]:
ndarr_re = ndarr_m.reshape(-1, 2)

ndarr_re

array([[ 1,  2],
       [ 3, 40],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])

<br>

- `ndarr.reshape()` 변환 후 > 값 수정 시 > 원본값 수정 > shallow copy

In [241]:
ndarr_re[0] = [100, 200]

ndarr_m

array([[100, 200,   3,  40],
       [  5,   6,   7,   8],
       [  9,  10,  11,  12]])

<br>

## 5. 요소(item) 변환

### 5.1. item 변경

- `ndarr.resize(new_shape)`, `np.resize(ndarr, new_shape)`

    - 배열 메서드를 사용하면 원본 변경, np 함수를 사용하면 새로운 배열 반환
    
    - 배열의 구조(shape)를 변경하며 원본 배열의 요소 수와 동일하지 않아도 변경 가능
    
    1. 변경되는 배열의 요소 수가 동일할 경우 : reshape() 메서드와 동일한 결과
    
    2. 변경되는 배열의 요소 수가 더 많을 경우
        
        - np.resize(arr, new_shape) : 원본을 변경하지 않고, 모자란 부분을 기존 배열 값에서 복사해서 추가
        
        - arr.resize(new_shape) : 원본을 변경하고, 모자란 부분을 0으로 채움
        
        - 공통적으로 new_shape은 튜플로 추가
    
    3. 변경되는 배열의 요소 수가 더 작을 경우 : 마지막 남은 요소 삭제

<br>

- 1이상 10미만 random int 3 X 5 배열 생성

In [266]:
ndarr_1 = np.random.randint(1, 10, (3, 5))

print(ndarr_1)

[[9 2 1 9 6]
 [1 7 6 5 3]
 [5 6 4 8 2]]

<br>

1. 변경되는 배열의 item수가 동일한 경우 > `ndarr.reshape()`와 동일하게 동작

In [267]:
ndarr_1.resize(5, 3)

print(ndarr_1)

[[9 2 1]
 [9 6 1]
 [7 6 5]
 [3 5 6]
 [4 8 2]]

<br>

2. 변경 후 배열의 item수가 더 많은 경우

In [268]:
ndarr_2 = np.resize(ndarr_1, (8, 3))

np_print(ndarr_2)

    type : <class 'numpy.ndarray'>
    shape : (8, 3)
    dimension : 2
    dtype : int32
    data :
 [[9 2 1]
 [9 6 1]
 [7 6 5]
 [3 5 6]
 [4 8 2]
 [9 2 1]
 [9 6 1]
 [7 6 5]]

<br>

- parameter `refcheck=Fasle` > 크기가 다를 때 0으로 item 초기화

In [270]:
ndarr_1.resize((8, 3), refcheck=False)

np_print(ndarr_1)

    type : <class 'numpy.ndarray'>
    shape : (8, 3)
    dimension : 2
    dtype : int32
    data :
 [[9 2 1]
 [9 6 1]
 [7 6 5]
 [3 5 6]
 [4 8 2]
 [0 0 0]
 [0 0 0]
 [0 0 0]]

<br>

3. 변경되는 배열의 item수가 더 적은 경우 > 마지막 요소를 삭제

### 5.2. item 추가: `np.append(arr, values)`, `np.insert(arr, idx, values)`

- `np.append(arr, values, axis=None)`
    - arr 마지막에 values를 추가
    - axis 지정하지 않는 경우(기본값) : 1차원 배열로 변형되어 결합
    - axis = 0 : 행 방향으로 결합 (단, 열의 개수가 동일해야 함)
    - axis = 1 : 열 방향으로 결합 (단, 행의 개수가 동일해야 함)
    - 원본 배열들에 반영되지 않음

- 1이상 10미만 step=1 3 X 3 배열 ndarr_a
- 10이상 19미만 step=1 3 X 3 배열 ndarr_b

In [272]:
ndarr_a = np.arange(1, 10).reshape(3, 3)
ndarr_b = np.arange(10, 19).reshape(3, 3)

np_print(ndarr_a)
np_print(ndarr_b)

    type : <class 'numpy.ndarray'>
    shape : (3, 3)
    dimension : 2
    dtype : int32
    data :
 [[1 2 3]
 [4 5 6]
 [7 8 9]]


    type : <class 'numpy.ndarray'>
    shape : (3, 3)
    dimension : 2
    dtype : int32
    data :
 [[10 11 12]
 [13 14 15]
 [16 17 18]]

<br>

- **2개의 배열 결합**
    
1. `axis` 지정하지 않은 경우 > `np.append(ndarr1, ndarr2)`: `axis=None`
        
   \> `ndarr1`, `ndarr2` 둘 다 1차원으로 변형해서 추가함

In [276]:
np.append(ndarr_a, ndarr_b)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18])

<br>

2. `axis=0` > 열방향, 행단위 결합 > 열 개수는 동일

In [277]:
np.append(ndarr_a, ndarr_b, axis=0)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

<br>

3. `axis=1` > 행방향, 열단위 결합 > 행 개수는 동일

<br>

- **열의 개수가 다른 배열과의 결합**`

In [281]:
ndarr_c = np.arange(30, 45).reshape(3, 5)

np_print(ndarr_c)

    type : <class 'numpy.ndarray'>
    shape : (3, 5)
    dimension : 2
    dtype : int32
    data :
 [[30 31 32 33 34]
 [35 36 37 38 39]
 [40 41 42 43 44]]

<br>

- a와 c결합 > `axis=1`: 행방향, 열단위, 행개수 동일

In [284]:
np.append(ndarr_a, ndarr_c, axis=1)

array([[ 1,  2,  3, 30, 31, 32, 33, 34],
       [ 4,  5,  6, 35, 36, 37, 38, 39],
       [ 7,  8,  9, 40, 41, 42, 43, 44]])

- `axis=0` > Error

<br>

- 행단위로 ~

<br>

- **행 개수가 다른 배열과의 결합**

In [285]:
ndarr_d = np.arange(90, 102).reshape(4, 3)

np_print(ndarr_d)

    type : <class 'numpy.ndarray'>
    shape : (4, 3)
    dimension : 2
    dtype : int32
    data :
 [[ 90  91  92]
 [ 93  94  95]
 [ 96  97  98]
 [ 99 100 101]]

<br>

- `axis=0` > 열방향, 행단위, 열 개수 동일

In [287]:
np.append(ndarr_b, ndarr_d, axis=0)

array([[ 10,  11,  12],
       [ 13,  14,  15],
       [ 16,  17,  18],
       [ 90,  91,  92],
       [ 93,  94,  95],
       [ 96,  97,  98],
       [ 99, 100, 101]])

<br>

- `axis=1`


<br>

- `np.insert(arr, idx, values, axis=None)`
    - 지정한 인덱스(idx)에 value를 추가
    - axis 지정하지 않는 경우(기본값) : 1차원 배열의 변형되고 해당 인덱스에 추가
    - axis = 0 : 행 방향으로 n번째 행에 추가
    - axis = 1 : 열 방향으로 n번째 열에 추가
    - 원본 배열에 반영되지 않음

In [295]:
ndarr_in = np.arange(1, 10).reshape(3, 3)

ndarr_in

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

1. axis 지정하지 않는 경우: ndarr > 1차원 배열 변형 > 지정 index에 값 추가
    
<br>

- 2d array > 1d array 변형, index 1에 100 추가

In [292]:
np.insert(ndarr_in, 1, 100)

array([  1, 100,   2,   3,   4,   5,   6,   7,   8,   9])

- 원본 배열은 유지

In [294]:
ndarr_in

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

<br>

2. `axis=0`: 행방향, 열단위, 행개수 추가
    블라블라

In [301]:
np.insert(ndarr_in, 1, 100, axis=0)

array([[  1,   2,   3],
       [100, 100, 100],
       [  4,   5,   6],
       [  7,   8,   9]])

<br>

3. `axis=1`: 열방향, 행단위, index 열 추가
   
<br>

- `ndarr_in`, 2번 인덱스 열, 200 추가

In [302]:
np.insert(ndarr_in, 2, 200, axis=1)

array([[  1,   2, 200,   3],
       [  4,   5, 200,   6],
       [  7,   8, 200,   9]])

<br>

- item마다 다른 값으로 row, column 추가하기

- item의 개수를 동일하게 설정 > 축을 기준으로 item 뭐래 진도 너무 빨라

### 5.3. 요소 삭제
- np.delete(arr, idx, axis=None)
    - 지정한 인덱스(idx)에 해당하는 요소를 삭제
    - axis 지정하지 않는 경우(기본값) : 1차원 배열로 변형되어 해당 인덱스에 해당하는 요소를 삭제
    - axis = 0 : 행 방향으로 n번째 행을 삭제
    - axis = 1 : 열 방향으로 n번째 열을 삭제
    - 원본 배열에 반영되지 않음

In [304]:
arr_a = np.arange(1, 10).reshape(3, 3)

arr_a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [305]:
np.ravel(arr_a)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

<br>

1. `axis` 지정 안 하는 경우: 1차원 배열로 변환 > 지정한 idx에 해당하는 item 삭제
    
<br>

- `arr_a` 1번 index item 삭제

In [306]:
np.delete(arr_a, 1)

array([1, 3, 4, 5, 6, 7, 8, 9])

- 원본 array 변경 X

In [307]:
arr_a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

<br>

2. `axis=0`: 행방향, 열단위축, 행개수 감소

\>`arr_a` 세로축 index 0 삭제

In [310]:
np.delete(arr_a, 0, axis=0)

array([[4, 5, 6],
       [7, 8, 9]])

<br>

3. `axis=1`: 열방향, (행단위), 열개수 감소

\> `arr_a` 가로축 index 0 삭제

In [312]:
np.delete(arr_a, 0, axis=1)

array([[2, 3],
       [5, 6],
       [8, 9]])

## 6. 배열 변환

### 6.1. 배열 결합

- `np.concatenate((arr1, arr2, ...), axis=0)`
    - axis = 0(기본값) : 행 방향으로 두 배열 결합 (단, 열의 개수가 동일)
    - axis = 1 : 열 방향으로 두 배열 결합 (단, 행의 개수가 동일)
    - 원본 배열들은 변경되지 않음

In [313]:
# 1이상 7미만의 범위에서 1씩 증가하는 숫자로 2 x 3 구조의 배열 a 생성
# 7이상 13미만의 범위에서 1씩 증가하는 숫자로 2 x 3 구조의 배열 b 생성
# 13이상 23미만의 범위에서 1씩 증가하는 숫자로 2 x 5 구조의 배열 c 생성(열개수 다름)
# 23이상 38미만의 범위에서 1씩 증가하는 숫자로 5 x 3 구조의 배열 d 생성(행개수 다름)
a = np.arange(1, 7).reshape(2, 3)
b = np.arange(7, 13).reshape(2, 3)
c = np.arange(13, 23).reshape(2, 5)
d = np.arange(23, 38).reshape(5, 3)

print(a)
print()
print(b)
print()
print(c)
print()
print(d)
print()

[[1 2 3]
 [4 5 6]]

[[ 7  8  9]
 [10 11 12]]

[[13 14 15 16 17]
 [18 19 20 21 22]]

[[23 24 25]
 [26 27 28]
 [29 30 31]
 [32 33 34]
 [35 36 37]]

1. `axis=0` (== default) > 행방향 두 배열 결합

if. np.append(a, b) > [1, 2, ... ,11, 12]

In [314]:
np.concatenate((a, b))

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

<br>

2. `axis=1`: 열방향 두 배열 결합

In [315]:
np.concatenate((a, b), axis=1)

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])

<br>

- 행방향 결합 > 열 개수 동일해야 함

In [318]:
np.concatenate(a, c)

TypeError: only integer scalar arrays can be converted to a scalar index

In [319]:
np.concatenate((a, c), axis=1)

array([[ 1,  2,  3, 13, 14, 15, 16, 17],
       [ 4,  5,  6, 18, 19, 20, 21, 22]])

<br>

- 열방향 결합 > 행 개수 동일해야함

In [321]:
np.concatenate((a, d), axis=1)

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 2 and the array at index 1 has size 5

In [324]:
np.concatenate((a, d))

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [23, 24, 25],
       [26, 27, 28],
       [29, 30, 31],
       [32, 33, 34],
       [35, 36, 37]])

<br>

### 6.2. 배열 가르기

- `np.split(arr, indices_or_sections, axis=0)`
    - axis = 0(기본값) : 행방향으로, 열단위축, 행단위로 분리
    - axis = 1 : 열방향으로, 행단위축, 열단위로 분리
    - 원본 배열은 변경되지 않음

In [325]:
arr_a = np.arange(1, 37).reshape(6, 6)

arr_a

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36]])

<br>

1. `axis=0` > 행 기준 분리

- second parameter == list > 균등하지 않게 분리

In [330]:
np.split(arr_a, [1, 2, 3], axis=0)

[array([[1, 2, 3, 4, 5, 6]]),
 array([[ 7,  8,  9, 10, 11, 12]]),
 array([[13, 14, 15, 16, 17, 18]]),
 array([[19, 20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29, 30],
        [31, 32, 33, 34, 35, 36]])]

2. `axis=1` > 열 기준 분리

- second parameter == scarla > 균등하게 분리 > 나눈 갯수가 정수로 떨어져야 함

In [331]:
np.split(arr_a, 3, axis=1)

[array([[ 1,  2],
        [ 7,  8],
        [13, 14],
        [19, 20],
        [25, 26],
        [31, 32]]),
 array([[ 3,  4],
        [ 9, 10],
        [15, 16],
        [21, 22],
        [27, 28],
        [33, 34]]),
 array([[ 5,  6],
        [11, 12],
        [17, 18],
        [23, 24],
        [29, 30],
        [35, 36]])]